# Módulo de Feature Layers

## Accediendo a Feature Layers

In [1]:
#Conectarse al GIS
from arcgis.gis import GIS
from IPython.display import display
gis=GIS() #Conexión anónima.

In [2]:
#Búsqueda de una capa es ArcGIS Online
search_results= gis.content.search('title: USA Major Cities and owner: esri', 'Feature Layer')
major_cities_item = search_results[0]
major_cities_item

In [3]:
#Accedemos a las capas que componen el item
major_cities_layers = major_cities_item.layers
major_cities_layers

In [4]:
#Acceder a las propiedades del FeatureLayer
feature_layer=major_cities_layers[0]
feature_layer.properties.extent

{
  "xmin": -17608123.3895845,
  "ymin": 2237818.89912024,
  "xmax": -7656889.54512499,
  "ymax": 9568526.08684907,
  "spatialReference": {
    "wkid": 102100,
    "latestWkid": 3857
  }
}

In [5]:
#Ver que operaciones se pueden realizar sobre la capa. 
feature_layer.properties.capabilities

'Query'

## Querying

In [6]:
#Saber qué campos tiene el FeatureLayer
for f in feature_layer.properties.fields: 
    print(f['name'])

FID
NAME
CLASS
ST
STFIPS
PLACEFIP
CAPITAL
AREALAND
AREAWATER
POP_CLASS
POP2000
POP2007
WHITE
BLACK
AMERI_ES
ASIAN
HAWN_PI
OTHER
MULT_RACE
HISPANIC
MALES
FEMALES
AGE_UNDER5
AGE_5_17
AGE_18_21
AGE_22_29
AGE_30_39
AGE_40_49
AGE_50_64
AGE_65_UP
MED_AGE
MED_AGE_M
MED_AGE_F
HOUSEHOLDS
AVE_HH_SZ
HSEHLD_1_M
HSEHLD_1_F
MARHH_CHD
MARHH_NO_C
MHH_CHILD
FHH_CHILD
FAMILIES
AVE_FAM_SZ
HSE_UNITS
VACANT
OWNER_OCC
RENTER_OCC

In [7]:
"""Realizando una consulta para seleccionar 
   todas las ciudades cuya población en el año 2007 
   fue mayor a 1 millon y seleccionando los campos asociados a 
   población"""
query_result1 = feature_layer.query(where='POP2007>1000000', 
                                    out_fields='NAME,WHITE,BLACK,MULT_RACE,HISPANIC')
#Saber la cantidad de ciudades que cumplen con la condición
len(query_result1.features)

9

In [8]:
query_result1.fields

[{'alias': 'NAME',
  'defaultValue': None,
  'domain': None,
  'length': 40,
  'name': 'NAME',
  'sqlType': 'sqlTypeNVarchar',
  'type': 'esriFieldTypeString'},
 {'alias': 'WHITE',
  'defaultValue': None,
  'domain': None,
  'name': 'WHITE',
  'sqlType': 'sqlTypeInteger',
  'type': 'esriFieldTypeInteger'},
 {'alias': 'BLACK',
  'defaultValue': None,
  'domain': None,
  'name': 'BLACK',
  'sqlType': 'sqlTypeInteger',
  'type': 'esriFieldTypeInteger'},
 {'alias': 'MULT_RACE',
  'defaultValue': None,
  'domain': None,
  'name': 'MULT_RACE',
  'sqlType': 'sqlTypeInteger',
  'type': 'esriFieldTypeInteger'},
 {'alias': 'HISPANIC',
  'defaultValue': None,
  'domain': None,
  'name': 'HISPANIC',
  'sqlType': 'sqlTypeInteger',
  'type': 'esriFieldTypeInteger'}]

In [9]:
for f in query_result1: 
    display(f)

{"geometry": {"x": -13040671.540682055, "y": 3866078.7598941037}, "attributes": {"NAME": "San Diego", "WHITE": 736207, "BLACK": 96216, "MULT_RACE": 59081, "HISPANIC": 310752}}

{"geometry": {"x": -12476276.658979658, "y": 3965648.4427011893}, "attributes": {"NAME": "Phoenix", "WHITE": 938853, "BLACK": 67416, "MULT_RACE": 43276, "HISPANIC": 449972}}

{"geometry": {"x": -13177553.994317034, "y": 4040377.5781160803}, "attributes": {"NAME": "Los Angeles", "WHITE": 1734036, "BLACK": 415195, "MULT_RACE": 191288, "HISPANIC": 1719073}}

{"geometry": {"x": -10774297.766983679, "y": 3868724.6751567707}, "attributes": {"NAME": "Dallas", "WHITE": 604209, "BLACK": 307957, "MULT_RACE": 32351, "HISPANIC": 422587}}

{"geometry": {"x": -10966381.550856367, "y": 3433242.959915034}, "attributes": {"NAME": "San Antonio", "WHITE": 774708, "BLACK": 78120, "MULT_RACE": 41871, "HISPANIC": 671394}}

{"geometry": {"x": -10618006.204881966, "y": 3473107.977316641}, "attributes": {"NAME": "Houston", "WHITE": 962610, "BLACK": 494496, "MULT_RACE": 61478, "HISPANIC": 730865}}

{"geometry": {"x": -9760422.108236535, "y": 5137142.70607142}, "attributes": {"NAME": "Chicago", "WHITE": 1215315, "BLACK": 1065009, "MULT_RACE": 84437, "HISPANIC": 753644}}

{"geometry": {"x": -8365079.878023293, "y": 4865652.978620951}, "attributes": {"NAME": "Philadelphia", "WHITE": 683267, "BLACK": 655824, "MULT_RACE": 33574, "HISPANIC": 128928}}

{"geometry": {"x": -8228506.000714422, "y": 4968813.957009557}, "attributes": {"NAME": "New York", "WHITE": 3576385, "BLACK": 2129762, "MULT_RACE": 393959, "HISPANIC": 2160554}}

In [10]:
#Mostrando los datos como un dataframe 
query2 = feature_layer.query(where="POP2007>1000000")
query2.df

,AGE_18_21,AGE_22_29,AGE_30_39,AGE_40_49,AGE_50_64,AGE_5_17,AGE_65_UP,AGE_UNDER5,AMERI_ES,AREALAND,...,POP2000,POP2007,POP_CLASS,RENTER_OCC,ST,STFIPS,VACANT,WHITE,geometry.x,geometry.y
FID,,,,,,,,,,,,,,,,,,,,,
445,85983,176567,210745,174023,154166,211385,128008,82523,7543,324.341,...,1223400,1301514,10,227411,CA,06,18998,736207,-1.304067e+07,3.866079e+06
530,80898,179201,222468,185726,163522,267919,106795,114516,26696,474.862,...,1321045,1502129,10,183164,AZ,04,29998,938853,-1.247628e+07,3.965648e+06
590,226327,522360,644779,508091,454823,695335,357129,285976,29412,469.072,...,3694820,3908521,10,783530,CA,06,62294,1734036,-1.317755e+07,4.040378e+06
968,72341,194619,208079,157720,137944,216791,102301,98785,6472,342.542,...,1188580,1259459,10,256498,TX,48,32284,604209,-1.077430e+07,3.868725e+06
1069,70941,143970,177249,158471,147996,234211,119362,92446,9584,407.557,...,1144646,1259735,10,169775,TX,48,27648,774708,-1.096638e+07,3.433243e+06
1297,117621,288621,324687,276105,245874,375861,164065,160797,8568,579.413,...,1953631,2109413,10,389204,TX,48,64064,962610,-1.061801e+07,3.473108e+06
2566,172620,431648,479483,384230,369392,541318,298803,218522,10290,227.131,...,2896016,2921775,10,597063,IL,17,90940,1215315,-9.760422e+06,5.137143e+06
3051,99908,182284,221352,206084,210731,285308,213722,98161,4073,135.089,...,1517550,1475892,10,240438,PA,42,71887,683267,-8.365080e+06,4.865653e+06
3252,433490,1050181,1348263,1133497,1164721,1399391,937857,540878,41289,303.309,...,8008278,8323732,10,2109292,NY,36,179324,3576385,-8.228506e+06,4.968814e+06